.section{
    grid-area: box;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2em);
    width: calc(100% - 2em);

}

.subsection{
    display: flex;
    margin: 2em;
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    justify-content: space-between;
}


.rectangle{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 35px;
    height:calc(100% - 2em) ;
    width: calc(100% - 2em);
    margin: 2em;
    align-items: center;
}

.rectangle div{
    font-size: 2em;
}

.rectangle h2{
    font-size: 2.2em;
    font-weight: bold;
}

