<div class="section">
    <div class="subsection">
        <div class="rectangle">
            <div class="topic">
                <h2>Total CO2</h2>
            </div>
            <div>
                {{statistics.totalCO2}}
            </div>
        </div>
        <div class="rectangle">
            <h2>Points</h2>
            <div>
                {{statistics.points}}
            </div>
        </div>
        <div class="rectangle">
            <h2>Personal Goals</h2>
            <div>
                {{statistics.goalProgress}}
                {{statistics.nextPersonalGoal}}
            </div>
        </div>
    </div>
    
    <div class="subsection">
        <div class="rectangle">
            <h2>CO2 Performance</h2>
            <div>
                <!--Hier Daten einfügen-->
            </div>
        </div>
        <div class="rectangle">
            <h2>Community Goal</h2>
            <div>
                <!--Hier Daten einfügen-->
            </div>
        </div>
    </div>
</div>
