.subsection2{
    display: flex;
    margin: 2em;
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    justify-content: space-around;
}
.section{
    grid-area: box;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2em);
    width: calc(100% - 2em);
}

.subsection{
    display: flex;
    margin: 2em;
    
    width: calc(100% - 2em);
    justify-content: space-between;
}


.rectangle{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 35px;
    height:calc(100% - 2em) ;
    width: calc(100% - 2em);
    margin: 2em;
    align-items: center;
}

input, select{
    background-color: #f7f6f6;
    color: rgb(120, 120, 120);
    border-color: #d8d9db;
    border-radius: 7px;
    border-style: solid;
    font-size: 1.5em;
}

.big{
    width: calc(100% - 4em);

    font-size: 2em;
    margin: auto;
}

