<div class="section">
    <form>
        <div class="rectangle">
            <div class="subsection2">
                <div>
                    <h2>Start</h2>
                    <input type="text" id="start" placeholder="Start location">
                    <h2>End</h2>
                    <input type="text" id="end" placeholder="End location">
                    <h2>Vehicle</h2>
                    <select>
                        <option value="Train">Train</option>
                        <option value="Car">Car</option>
                        <option value="Bike">Bike</option>
                        <option value="Plane">Plane</option>
                        <option value="Ufo">Ufo</option>
                        <option value="Carriage">Carriage</option>
                    </select>
                </div>
                
                <div>
                    <h2>Date</h2>
                    <input type="date" id="date">
                </div>
                
            </div>
        </div>
    </form>
    
    
    <div class="subsection">
        <div class="rectangle">
            <h2>Traveled Distance</h2>
            <div>
                sort
                <h1>km</h1>
            </div>
        </div>
        <div class="rectangle">
            <h2>Estimated CO2 Savings</h2>
            <div>
                sort
                <h1>g</h1>
            </div>
        </div>    
    </div>

    <button class="addRoutebtn big">+ Add Route</button>
</div>
