html, body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: grid;
    grid-template-areas: 'nav user'
                         'nav box';
    grid-template-columns: minmax(200px, 0.5fr) 4fr;
    grid-template-rows: 10em auto;
    margin: 0;
    background-color: #f7f6f6;
}

.navigation{
    grid-area: nav;
    background-color: #202123;
    height: calc(100% - 2em);
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.logo{
    color: #fff;
    background-color: #202123;
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
}


.navItem{
    font-size: 1em;
}

.navItem li{
    padding: 0.5em;
    list-style: none;
}

.navItem li a, .navItem li i{
    padding: 0.5em;
    text-decoration: none;
    color: #fff;
}

.navItem li i{
    font-size: 2em;
}

.navItem li:hover{
    background-color: #2d2d2e;
    border-radius: 25px;
}

.dropdown{
    display: none;
}

.goals:hover .dropdown{
    display: block;
}
.welcomebox{
    grid-area: user;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.userinfo{
    position: relative;
    left: 20px;
}

.userbox{
    position: absolute;
    display: flex;
    align-items: center;
    right: 10px;
}

.profil{
    height: 5em;
    width: 5em;
    border-radius: 25px;
    margin-right: 1em;
}

.section{
    grid-area: box;
    display: flex;
    flex-direction: column;
}

.subsection{
    display: flex;
    margin: 2em;
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    justify-content: space-between;
}


.rectangle{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 35px;
    height:calc(100% - 2em) ;
    width: calc(100% - 2em);
    margin: 2em;
    align-items: center;
}

.addRoutebtn{
    margin: 2em;
    background-color: #202123;
    color: #fff;
    width: 15em;
    height: 3em;
    border-radius: 150px;
    font-size: 1em;
}

form{
    width: calc(100% - 2em);
}

.subsection2{
    display: flex;
    margin: 2em;
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    justify-content: space-around;
}

input, select{
    background-color: #f7f6f6;
    color: rgb(120, 120, 120);
    border-color: #d8d9db;
    border-radius: 7px;
    border-style: solid;
    font-size: 1.5em;
}

.big{
    width: calc(100% - 4em);
    height: 10em;
    font-size: 2em;
}